.scrollBtn{
    position: fixed;
    bottom: 50px;
    right: 30px;
    color: #333;
    background: #fff;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background 3ms ease-in-out;
}

.scrollBtn:hover{
    background: #333;
    color: #fff;
}