.club_members {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.club_members-heading {
    margin-bottom: 40px;
}

.club_members-heading h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.club_members-heading p {
    font-size: 18px;
    color: #666;
}

.club {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-grid {
    background-color: #ffffff48;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
    max-width: 100%;
}

.profile-grid:hover {
    transform: translateY(-10px);
}

.profile-img {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-grid-item {
    padding: 20px;
    padding-bottom: 10px;
}

.profile-grid-item h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #777;
}

.profile-grid-item h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    transition: 0.3s ease-in-out;
}

.profile-grid-item h4:hover{
    text-decoration: underline;
}

.profile-grid-item a {
    margin: 0 10px;
    color: #555;
    font-size: 20px;
    transition: color 0.3s;
    border: 2px solid #000000;
    padding: 8px;
    margin-bottom: 15px;
    background: #333;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile-grid-item a:hover{
    border: 1px solid #333;
    background: #fff;
    color: #333;
}

@media screen and (max-width: 1050px) {
    .club_members-heading h2{
        font-size: 32px;
    }

    .club_members-heading p{
        font-size: 16px;
    }

    .profile-grid{
        width: 220px;
    }

    .profile-grid-item h4{
        font-size: 20px;
    }

    .profile-grid-item h3{
        font-size: 16px;
    }

    .profile-grid-item a{
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .club_members-heading h2{
        font-size: 28px;
    }

    .club_members-heading p{
        font-size: 14px;
    }

    .profile-grid{
        width: 200px;
    }

    .profile-grid-item h4{
        font-size: 18px;
    }

    .profile-grid-item h3{
        font-size: 14px;
    }

    .profile-grid-item a{
        font-size: 16px;
        padding: 6px;
    }
}

@media screen and (max-width: 550px) {
    .club_members{
        padding: 40px 10px;
    }

    .club_members-heading h2{
        font-size: 24px;
    }

    .club_members-heading p{
        font-size: 12px;
    }

    .profile-grid{
        width: 50%;
    }

    .profile-grid-item h4{
        font-size: 16px;
    }

    .profile-grid-item h3{
        font-size: 12px;
    }

    .profile-grid-item a{
        font-size: 14px;
        padding: 5px;
    }
}