.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 125px;
    transition: height 0.3s ease-in-out, background 0.3s ease-in-out;
}

.navbar.scrolled{
    background: #696d71;
    height: 85px;
    z-index: 100;
}

.navbar-links,
.dropdown-toggle{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.navbar-links_logo{
    margin-right: 0;
    display: flex;
}

.navbar-links_logo img{
    width: 100px;
    height: 100px;
    margin: 2rem;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.navbar.scrolled .navbar-links_logo img{
    height: 80px;
    width: 80px;
}

.navbar-links_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}

.navbar-links_title:hover{
    color: rgb(97, 251, 202);
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}

.navbar.scrolled .navbar-links_title{
    font-size: 18px;
}

.navbar-links_container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    white-space: nowrap;
    flex-shrink: 0;
}

.navbar-links_container p,
.navbar-menu_container p,
.dropdown-toggle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin: 0 2.4rem;
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
}

.navbar.scrolled .navbar-links_container p,
.navbar.scrolled .navbar-menu_container p,
.navbar.scrolled .dropdown-toggle{
    font-size: 16px;
}

.navbar-links_container p:hover,
.dropdown-toggle:hover,
.navbar-menu:hover{
    color: rgb(97, 251, 202);
}

.navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu svg{
    cursor: pointer;
}

.navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.navbar-menu_container p:hover,
.dropdown-toggle:hover{
    color: rgb(97, 251, 202);
}

@media screen and (max-width: 1050px){
    .navbar{
        height: 10%;
        background: gray;
    }

    .navbar-links_logo img{
        height: 75px;
        width: 75px;
        margin-left: 0;
    }

    .navbar-links_title{
        font-size: 18px;
    }

    .navbar-links_title:hover{
        font-size: 18px;
    }

    .navbar-links_container{
        display: none;
    }

    .dropdown-toggle{
        color: #fff;
    }

    .navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar{
        padding: 2rem 4rem;
    }

    .navbar-links_logo img{
        height: 60px;
        width: 60px;
    }

    .navbar-links_title{
        font-size: 16px;
    }

    .navbar-links_title:hover{
        font-size: 16px;
    }
}

@media screen and (max-width: 550px){
    .navbar{
        padding: 2rem;
    }

    .navbar-menu_container{
        margin-top: 35px;
        top: 20px;
        margin-right: 0;
    }

    .navbar-links_logo img{
        height: 50px;
        width: 50px;
        margin: 1rem;
    }

    .navbar-links_title{
        font-size: 14px;
    }

    .navbar-links_title:hover{
        font-size: 14px;
    }
}
